@font-face {
    font-family: 'Cube';
    src: url('Cube.ttf') format('truetype') ;
    font-weight: normal;
    font-style: normal;
}

body{
	background: black;
	color : white;
	font-family: 'Righteous', cursive;
	margin-left: 15%;
	margin-right: 15%;
	text-align: center;
}

.intro {
	text-align: justify;
}

h1{
	font-family: 'Cube';
}

img {
	max-width: 50%;
	height: auto;
	float: right;
	margin-left: 2%;
}

.listeEtoile ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-align: center;
}

.listeEtoile ul li {
	display:inline-block;
	width: 16px;
	text-align: left;
	list-style-type: none;
}

.listeEtoile ul li img {
	border: 0;
	margin: 0;
	padding: 0;
}

#tableau-sondage{
	font-family: 'Righteous';
	text-align: center;
}

#tableau-sondage th{
	border: solid 1px black;
	padding: 8px;
	cursor: default;
}

#tableau-sondage td{
	border: solid 1px black;
	padding-bottom: 12px;
}

.avis{
	color : lightgrey;
	text-align: left;
	font-style: italic;
}